<div class="col-sm-6 col-sm-offset-3">
    <h1><span class="fa fa-sign-in"></span>Login de Usuário</h1>

    {{#if message}}
    <div class="alert alert-danger">{{message}}</div>
    {{/if}}

    <form action="/login" method="post">
        <div class="form-group">
            <label>Email</label>
            <input type="text" class="form-control" name="email">
        </div>
        <div class="form-group">
            <label>Senha</label>
            <input type="password" class="form-control" name="senha">
        </div>
        <div class="form-group">
            <label>Lembre-se</label>
            <input type="checkbox" class="form-control" name="remember" value="yes" style="width:30px">
        </div>

        <button type="submit" class="btn btn-warning btn-lg">Entrar</button>
    </form>

    <hr>

    <p>Ainda não tem conta? Clique aqui<a href="/signup"> Cadastrar-se</a></p>
    <p>Retornar<a href="/"> Página Inicial</a></p>
</div>